@font-face {
    font-family: 'HelveticaNeueCyr';
    src: local('HelveticaNeueCyr-Light'),
        url('./HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: local('HelveticaNeueCyr-Roman'),
        url('./HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}






