
@use '../abstracts' as *;

.footer {
    background-color: $bg--ligth;
    &__list {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @media (max-width: map-get($container-max-widths, md)) {
            grid-template-columns: 1fr;
        }
        &-item {
            line-height: 1.4;
            &--right {
                text-align: right;
            }
        }
        &-link {
            color: gray;
            transition: 0.3s;
            &--info {
                color: #5f5f5f;
                display: inline-block;
                margin-top: 10px;
            }
            &:hover {
                color: #444444;
            }
        }
    }
    
}