@use '../abstracts' as *;

.title {
    position: relative;
    font-size: 60px;
    color: $black--heavy;
    color: #333;
    display: inline;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: normal;
    @media (max-width: map-get($container-max-widths, lg)) {
        font-size: 55px;
    }  
    @media (max-width: map-get($container-max-widths, md)) {
        font-size: 35px;
    }  
    @media (max-width: map-get($container-max-widths, sm)) {
        font-size: 30px;
    }      
    &-sub {
        color: $black--light;
        transition: 0.3s;
        &--active {
            color: $border-color;
            text-decoration: underline;
            &:hover {
                color: $border-color !important;
            }
        }
        &:hover {
            color: rgb(61, 65, 37);
        }
    }
}