$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px
);
$section-padding: 72px;
$section-padding--sm: 25px;
$wrapper-margin: 70px;
$wrapper-margin--sm: 25px;
$items-gap: 24px;
$border-color: #00c1ff;
$bg--blue: #cafaff;

$bg--ligth: #fef3bf;
$bg--heavy: #ffe3b0;



$title: #ff7302;

$black--heavy: #25292e;
$black--middle: #313530;
$black--light: #76674e;

